
#controls {
    background-color: rgb(240, 240, 240);
    padding: 15px 50px;
}

#resetButton {
    padding: 5px;
    button {
        aspect-ratio: 1;
    }
}

#playButton {
    color: gray;
    button {
        width: 80px;
        aspect-ratio: 1;
        font-size: 3rem;
        padding: 0;
    }
}

#stepButton {
    padding: 5px;
    button {
        aspect-ratio: 1;
    }
}

.current-counter {
    margin: 0 10px 0 10px;
    p {
        line-height: 1em;
        font-size: 0.8rem;
    }
}

#currentIteration {
    margin: 0 10px 0 10px;
    p {
        line-height: 1em;
        font-size: 0.8rem;
    }
}

#speedRange {
    direction: rtl;
}

.sigma-range-container {
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding: 8px 22px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    z-index: 99;
}
